@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Общие стили */
body {
    background: #202124;
    color: #F1F3F4;
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для навигации */
nav {
    display: flex;
    justify-content: space-around;
}

/* Стили кнопок */
.button {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: red;
}

header h1 {
    padding: 15px 32px;
}

/* Стили для основного контента */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #5e6163;
    color: white;
    padding: 15px 32px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
}

/* Стили для картинок */
.images {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.post-image:hover {
    transform: scale(1.05);
}

/* Стили для текста */
.post-text {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}

/* Модальные окна */
.modal-toggle {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* Показываем модальное окно, когда флажок выбран */
.modal-toggle:checked + .modal {
    display: flex;
}
pre{font-family: "Press Start 2P", sans-serif;
}